@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello @Model.Name!</h1>
    <p>Hi, nice to meet you! So what is your name?</p>

    <form name="GreetingsForm" method="post">
        <div>
            <label asp-for="Name">Please enter your name: </label>
            <input asp-for="Name" />
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</div>
